<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455200264822-564fdv6aqufm9j4u96t66ovk4f1debd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455200264822-564fdv6aqufm9j4u96t66ovk4f1debd7</string>
	<key>API_KEY</key>
	<string>AIzaSyCTVLPIR5PeSYUT2WsB3l5bLMaeaen_QoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>455200264822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>organization.casablanca.com</string>
	<key>PROJECT_ID</key>
	<string>casablanca-82841</string>
	<key>STORAGE_BUCKET</key>
	<string>casablanca-82841.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455200264822:ios:6414a34f824d551bb08557</string>
</dict>
</plist>